html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVBAR */

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.logo {
  display: flex;
  max-width: 50%;
  height: 30px;
}
.logo img {
  object-fit: contain;
}

.links {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

a:hover {
  transition-duration: 0.2;
  background-color: dimgray;
}
